name: Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [linux, darwin]
        arch: [amd64, arm64]
        exclude:
          - os: linux
            arch: arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract Version
        id: version
        run: echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'

      - name: Build and Compress
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
        run: |
          go build -ldflags="-s -w -X github.com/madewithfuture/cleat/internal/cmd.Version=${VERSION}" -o cleat ./cmd/cleat
          tar -czf cleat_${VERSION}_${GOOS}_${GOARCH}.tar.gz cleat

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cleat_${{ env.VERSION }}_${{ matrix.os }}_${{ matrix.arch }}
          path: cleat_${{ env.VERSION }}_${{ matrix.os }}_${{ matrix.arch }}.tar.gz

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: cleat_*
          path: dist
          merge-multiple: true

      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${{ github.ref_name }} --generate-notes
          gh release upload ${{ github.ref_name }} dist/*.tar.gz
